<link rel="stylesheet" type="text/css" href="/markdown/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/editormd/css/editormd.min.css">
{{/*<link rel="stylesheet" type="text/css" href="/markdown/css/bootstrap-markdown.min.css">*/}}
<link rel="stylesheet" type="text/css" href="/markdown/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/fileinput/fileinput.min.css">
<link rel="stylesheet" type="text/css" href="/datetimepicker/bootstrap-datetimepicker.min.css">
<ol class="breadcrumb">
    <li><a href="#">后台</a></li>
    <li><a href="#">文章</a></li>
    <li class="active">添加</li>
</ol>

<style type="text/css">
    /*div{*/
        /*width:100%;*/
    /*}*/
</style>
<form id="article" class="form-horizontal" action="/admin/article/add" method="post" enctype="multipart/form-data">
{{ .xsrfdata }}
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">文章标题</label>
        <div class="col-sm-10">
            <input type="text" name="title" class="form-control" id="inputEmail3" placeholder="文章标题">
            <input type="hidden"  id="contented">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">选择上传文件</label>
        <div class="col-sm-10">
            <input type="file" name="txt_file" id="txt_file" multiple class="file-loading" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <ul class="col-sm-10" id="imgshow">
        </ul>
    </div>

    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">文章添加时间</label>
        <div class="col-sm-10">
            <input type="text" name="times" value="2012-06-15 14:45" readonly class="form_datetime" id="inputEmail3" placeholder="文章添加时间">
        </div>
    </div>

    <div class="form-group" >
        <label for="textarea1" class="col-sm-2 control-label">文章内容</label>
        <input type="hidden" name="content" id="content-input">
        {{/*<div class="col-sm-10">*/}}
            {{/*<textarea name="content" data-provide="markdown" data-savable="true" data-iconlibrary="fa" rows="40" id="editor"></textarea>*/}}
        {{/*</div>*/}}
        <div id="test-editormd" class="col-sm-10">
            {{/*<textarea name="markdown"></textarea>*/}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" id="get-md-btn">获取MarkDown格式的数据</button>
            <button type="button" id="get-html-btn">获取HTML格式数据</button>
            <button type="submit" class="btn btn-default">提交数据</button>
        </div>
    </div>
</form>
<!-- 该jquery文件必须在bootstrap.min.js之前引入 -->
<script src="/markdown/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/markdown/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/editormd/editormd.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/fileinput/fileinput.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdn.bootcss.com/bootstrap-fileinput/4.4.6/js/locales/zh.min.js"></script>
<script src="/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/datetimepicker/bootstrap-datetimepicker.zh-CN.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
    (function ($) {
        $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});

        $("#txt_file").fileinput({
            language: "zh",
            allowedFileExtensions: ['png'],
            uploadUrl:"http://localhost:8889/upload",
            enctype:'multipart/form-data',
            dataType:'json'
        }).on("fileuploaded", function (e, data) {
            var res = data.response;
            if (res.state == "SUCCESS") {
                //添加 li
                var lis = document.createElement("li");
                var lis1 = document.createElement("li");

                //设置 li 属性，如 id
                // li.setAttribute("value", res.url);

                lis.innerHTML = res.hostname+":"+res.partname+"/"+res.url;
                lis1.innerHTML = res.hostname+":"+res.partname+"/"+res.thumb;
                $('#imgshow').append(lis,lis1);

            }
            // console.log($(".img").value())
        });

        var testEditor = editormd("test-editormd", {
            width  : "80%",
            height : 640,
            path   : "/editormd/lib/",
            saveHTMLToTextarea : true
        });

        $("#get-md-btn").bind('click', function(){
            $("#content-input").val(testEditor.getMarkdown());
            alert("获取成功")
        });

        $("#get-html-btn").bind('click', function() {
            alert(testEditor.getHTML());
        });

        // testEditor.getMarkdown();       // 获取 Markdown 源码
        // testEditor.getHTML();           // 获取 Textarea 保存的 HTML 源码
        // testEditor.getPreviewedHTML();  // 获取预览窗口里的 HTML，在开启 watch 且没有开启 saveHTMLToTextarea 时使用

    }(jQuery));

</script>
</body>
</html>